/* 로고 */
.logo:hover {
    transform: scale(1.2);
  }
  /*공식경연 버튼 hover*/
  .formula:hover {
    transform: scale(1.2);
    background: linear-gradient(
      90deg,
      rgb(70, 70, 185) 0%,
      rgb(40, 40, 220) 100%
      );
  }
  
  /*자유경연 버튼 hover*/
    .custom:hover {
    transform: scale(1.2);
    background: linear-gradient(
      90deg,
      rgb(65, 165, 65) 0%,
      rgb(50, 135, 45) 100%
      );
  }
    
    /* 로그인 버튼 */
  .btn-login{
      position: relative;
      border: none;
      min-width: 50px;
      min-height: 50px;
      background-color:gray;
      border-radius: 100px;
      color: rgb(49, 45, 45);
      cursor: pointer;
      font-weight: 500;
      transition: 0.3s;
      font-size: 20px;
    }
    .btn-login:hover {
      transform: scale(1.1);
    }
    
  
  /* 프로필 */
  .profile:hover {
    transform: scale(1.2);
  }
  
  .side-text :hover {
    background-color: #1a83ff;
  }